
.heading2{
	background-color: #21abcd;
	padding: 6px;
	color: white;
}

.fh5co-category{
	color: black;
}

.list-contents{
	font-size: 14px;
	text-align: left;
	color: #8b969c;
}

.heading3{
	text-align: center;
	background-color: #21abcd;
	padding: 6px;
	font-size: 20px;
	color: white;
}

.list-contents2{
	font-size: 13.5px;
	text-align: left;
	color: #8b969c;
	margin: 10px 0;
}

img{
	pointer-events: none;
}
